@import url('https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700');
.container {
    margin: 50px auto;
}

body {
    font-family: 'Lora', serif;
    font-size: 18px;
    color: #494949;
    line-height: 1.6;
    font-weight: lighter;
    margin:0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h2 {
    color: #A0A0A0;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.medium-link {
    background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
    text-decoration: none;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    opacity: 0.8;
    color: #636363;
}

.medium-link:hover{
    background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}

}

.banner {
    background-image: url("https://source.unsplash.com/1000x500/?nature,water");
    background-size: cover;
    padding: 120px 0;
    color: white
}

.banner h1 {
    font-size: 38px;
}

.banner p {
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    opacity: 0.8;
}

.container {
    width: 700px;
    margin: 50px auto;
}



/* Media queries */

@media(max-width: 900px) {
    .container {
        width: 700px;
    }
}

@media(max-width: 750px) {
    .container {
        width: 450px;
    }
}

@media(max-width: 500px) {
    .container {
        width: 350px;
    }
    .banner {
        padding: 50px 0;
    }
    .banner h1 {
        font-size: 30px;
    }
    .banner p {
        font-size: 20px;
    }
}